@page "/photomodeloverview"
@inherits PhotoModelOverviewBase

<h1 class="page-title">Alle Foto Modellen</h1>

@if (PhotoModels == null)
 {
    <p><em>Loading...</em></p> 
 }
else
{
    <table class="table">
        <thead>
            <tr>
                @*<th></th>*@
                <th>Foto model nummer</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var photomodel in PhotoModels)
            {
                <tr>
                    @*<td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.EmployeeId}-small.jpg")" class="rounded-circle" /></td>*@
                    <td>@photomodel.PhotoModelID</td>
                    <td>@photomodel.Voornaam</td>
                    <td>@photomodel.Achternaam</td>
                    <td>
                        @*<a href="@($"employeedetail/{customer.CustomerID}")" class="btn btn-primary table-btn">
                                <i class="fas fa-info-circle"></i>
                            </a>*@
                        <a href="@($"photomodeledit/{photomodel.PhotoModelID}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button @onclick="@QuickAddPhotoModel" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>

<QuickRegisterPhotoModel @ref="QuickRegisterPhotoModel" CloseEventCallback="@QuickRegisterPhotoModel_OnDialogClose"></QuickRegisterPhotoModel>